.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.normal {
    background-color: #fcc591;
}

.grass {
    background-color: #7ce974;
} 

.fire {
    background-color: #fe9c53;
} 

.water {
    background-color: #3a8ee2;
}

.electric {
    background-color: #f3cd21;
} 

.ice {
    background-color: #81c1f5;
} 

.ground {
    background-color: #d97746;
} 

.flying {
    background-color: #93aade;
}

.poison {
    background-color: #ab6ac8;
}

.fighting {
    background-color: #ce3f6a;
} 

.psychic {
    background-color: #f97077;
}

.dark {
    background-color: #5a5365;
} 

.rock {
    background-color: #c8b78b;
} 

.bug {
    background-color: #90c02c;
} 

.ghost {
    background-color: #5269ab;
} 

.steel {
    background-color: #5a8fa1;
} 

.dragon {
    background-color: #086dc3;
} 

.fairy {
    background-color: #ec8fe7;
} 


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);   
    text-align: center; 
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border: none;
    border-radius: 1rem;

}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr ;

    }
    
} 

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;

    }
    
} 

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    
} 
